.projects{

    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;

}

.projects >div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.projects >div h2{

    color: var(--secondary-background-color);
}

.cards{

    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    
}
 
.cards > div{

    width: 20em;
    background-color: var(--Dark-Blue-Dark-Mode-Elements);
    color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    margin:auto;
    border-radius: 15px;
    overflow: hidden;

}

.externalLinks{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.externalLinks a{

color: inherit;
}

.icon{

    font-size: 1.8em;


}

.projects img{

    width: 100%;

}

.textContainer{

    margin:0 1em 1em 1em;


}

.textContainer h3{

    margin:5px 0;
}


.keywordsContainer{

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3px;
}

.keywordsContainer p{

    font-weight: bold;
    margin-right: 10px;
    /* letter-spacing: 2px; */
    font-size: 0.7rem ;

    
}

.keywordsContainer > div{

    background-color:var(--Dark-Gray-Light-Mode-Input);
    color: var(--White-Dark-Mode-Text-Light-Mode-Elements);
    padding: 0.2em 0.5em;
    border-radius: 1em;
    text-align: center;
    font-weight: bold;
    font-size: 0.7rem;
}