:root {

  --background-color:hsl(207, 26%, 17%);
  --secondary-background-color:hsl(0, 0%, 98%);
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
--Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
--Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
--Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
--Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
--White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {

  background-color: var(--background-color);
  

}

.sectionTitle{

  margin: 2em 0;
  color: var(--White-Dark-Mode-Text-Light-Mode-Elements);

}

