.skills{

    padding: 1em;
    background-color: var(--Dark-Gray-Light-Mode-Input);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
    margin-top: 2em;
}

.skillsContanier{

 display: flex;
 flex-wrap: wrap;
 max-width: 60em;
 justify-content: center;

}


.skillsContanier div{
    background-color: var(--Dark-Blue-Dark-Mode-Elements);
    margin: 10px;
    border-radius: 100%;
    padding: 1.2em;
    width: fit-content;
    display: block;
    color: var(--secondary-background-color);
    font-weight: bold;
    font-size: 1.1rem;
}
